.main{
    max-height: 50vh;
    padding: 2rem;
}
.mainContent{
    display: flex;
    flex-direction: column;
  
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}
.merge {
    display:flex;
    
}
.title-num {
    display :flex ;
    flex-direction: column;
}
.punkHighlight{
    flex: 0.25;
    display: flex;
    align-items: center;
    justify-content: center;
}
.punkContainer{
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    margin-right: 20px;
}
.selectedPunk{
    object-fit: contain;
    max-width: min(30vh,40vh);
    max-height: 30vw;
}

.punkDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0.75;
}  
.title{
    font-size: 96px;
    font-weight: 800;
}
.itemNumber{
    color: #a1a5b0;
    font-size: 72px;
    align-self: center;
}
.owner{
    display: flex;
    padding-top:2rem;
}
.owner > div{
    margin: 0 5px;
}
.ownerImageContainer {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    overflow: hidden;
    object-fit: contain;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.ownerImageContainer > img{
    height: 100%;
    width: 100%;
}
.ownerDetails{
    display: flex;
    align-items: center;
    flex: 1;
    cursor: pointer;
    width:35%;
    justify-content: space-between;
}
.ownerNameAndHandel{
    flex: 1;
    color: #fff;
}
.ownerHandel{
    color: #00ebfe;
}
.ownerLink{
    padding: 12px;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    border: 1px solid #fff;
    margin: 0 0 0 10px;
}
.ownerLink > img{
    height: 100%;
    width: 100%;
}